<div class="menu-bar">
	<a class="header-button side-bar-button" href="javascript:void(0)" menu-transform href="#" ng-click="toggleSidebarCollapsed()">
		<i class="ti-menu"></i>
	</a>

	<div class="profile-box">
		<div class="btn-group" dropdown>
	      <button type="button" class="btn">
	      	<div class="profile-pic">
	      		<img src="http://placehold.it/30x30">
	      	</div>
	      	<div class="username">
				Profile
	      	</div>
	      </button>
	      <button type="button" class="btn dropdown-toggle" dropdown-toggle>
	        <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li><a href="#">My Profile</a></li>
	        <li><a href="#">Messages</a></li>
	        <li><a href="#">Alerts</a></li>
	        <li class="divider"></li>
	        <li><a href="#">Profile Settings</a></li>
	      </ul>
	    </div>
	</div>
	
	<div class="tool-box">
		<a class="header-button" href="#"><i class="tools ti-settings"></i></a>
		<a class="header-button" href="#"><i class="tools ti-comment"></i></a>
		<a class="header-button" href="#"><i class="tools ti-email"></i></a>
		<a class="header-button" href="#"><i class="tools ti-bell"></i></a>
	</div>

</div>