<div class="menu-bar" ng-controller="DashboardController">
	<a class="header-button side-bar-button" menu-transform href="#" ng-click="sidebarCollapsed = !sidebarCollapsed">
		<i class="fa fa-bars"></i>
	</a>

	<div class="profile-box">
		<div class="btn-group" dropdown>
	      <button type="button" class="btn btn-danger">Action</button>
	      <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
	        <span class="caret"></span>
	        <span class="sr-only">Split button!</span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li><a href="#">Action</a></li>
	        <li><a href="#">Another action</a></li>
	        <li><a href="#">Something else here</a></li>
	        <li class="divider"></li>
	        <li><a href="#">Separated link</a></li>
	      </ul>
	    </div>
	</div>
	
	<div class="tool-box">
		<a class="header-button" href="#"><i class="fa fa-cogs"></i></a>
		<a class="header-button" href="#"><i class="fa fa-comment"></i></a>
		<a class="header-button" href="#"><i class="fa fa-envelope"></i></a>
		<a class="header-button" href="#"><i class="fa fa-bell"></i></a>
	</div>

</div>