<div class="home-container">
	<div class="header">
		<h1>Home</h1>
		<h3>This is the dashboard you'll use to monitor all the events and data surrounding your team and your fans.</h3>
	</div>
	<div class="lightbg smallbg">
		
		<!-- <div class="recent-league-games">
			<div class="game">

			</div>
			<div class="game">
				
			</div>
			<div class="game">
				
			</div>
			<div class="game">
				
			</div>
		</div> -->


	</div>


	<div class="double-pane row">
		<div class="double col-sm-6">
			<div class="double-content">

			</div>
		</div>
		<div class="double col-sm-6">
			<div class="double-content">

			</div>
		</div>
	</div>
</div>