<div class="sidetray">
	<div class="logo-wrapper">
		<div class="logo">
			<img src="img/baseball.png">
		</div>
		<div class="title">
			<h1>Baseball</h1>
		</div>
	</div>
	<div class="menu-wrapper">
		<div class="search">
			<input type="text" placeholder="Search">
			<i class="ti-search"></i>
		</i>
		</div>
		<ul class="menu" ng-class="{'collapsed':sidebarCollapsed == true}">
			<li ng-repeat="category in navigation" ng-if="category.type == 'category'" class="menu-section" ng-class="{'expanded':category.open}">
				<div class="section-wrapper" toggle-click>
					<a ng-click="category.open = !category.open" ng-href="#" ng-class="{'selected':category.selected}">
						<div class="section-icon">
							<i class="{{category.icon}}"></i>
						</div>
						<div class="section-title">
							<h3 class="title">{{category.title}}</h3>
						</div>
					</a>
				</div>
				
				<ul>
					<li ng-repeat="option in category.options" class="menu-option">
						<a ng-href="{{option.href}}" ng-click="adjustSelection(category, option)" ng-class="{'selected':option.selected}">
							<h4>
								{{option.title}}
							</h4>
						</a>
					</li>
				</ul>
			</li>
		</ul>	
	</div>
</div>