---
---

/* style.scss */

$sidetray: #424242;
$dashboard: #EAEAEA;
$menu-bar: #FCFCFC;
$orioles: #E38C00;
$iconBlack: #3C3C3C;
$logoBlack: #3C3C3C;


$sidetray-width: 252px;

@import 'partials/reset';
@import 'partials/sidebar';
@import 'partials/home';


body {
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #767676;
	background-color: #f3f3f3;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
}


.dashboard {
    overflow: hidden;
    height: 100%;
    background: $dashboard;

    .menu-bar {
    	width: 100%;
		top: 0px;
		height: 80px;
		background: $menu-bar;
    	border-bottom: #CDCDCD solid 1px;
    	padding:15px;

    	.header-button {
    		display: block;
			width: 50px;
			height: 50px;
			font-size: 30px;
			text-align: center;
			color: #000000;
			float: left;
			text-decoration: none;
			padding: 15px;

			i {
				font-size: 20px;
			}

			.tools {
				font-size: 20px;
			}
    	}
		.header-button:hover {
    		color: $orioles;
    	}

    	.side-bar-button {
    		color: #C2C2C2;
    	}

    	.tool-box {
    		@media screen and (max-width: 550px) {
    			display: none;
		    }
    	}

    	.tool-box,.profile-box {
    		width: 300px;
			height: 100%;
			float: right;
			margin-right: 30px;

			a {
				font-size: 20px;
				float: right;
				color: $iconBlack;
				i {
					margin-top: 14px;
				}
			}


    	}

    	.profile-box {
    		width: 100px;
    		background: green;

    		.btn-group {
    			width: 130px;
				height: 50px;

				button {
					width: 105px;
					height: 49px;
					border-radius: 0px;
					background: #FCFCFC;
					color: #848484;
					border: 0px;
					// pesky bootstrap input glow
					outline: none;
					-webkit-box-shadow: none !important;
					-moz-box-shadow: none !important;
					box-shadow: none !important;
					padding: 0px;

					.profile-pic {
						float: left;

						img {
							width: 30px;
						}
					}

					.username {
						float: left;
						height: 30px;
						padding: 5px;
						width: 74px;
					}
				}

				button:hover {
					z-index: 0;
				}

				.dropdown-toggle {
					width: 26px;
					border-left: #D7D7D7 solid 1px;
					-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
					box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
				}

				.dropdown-menu {
					left: -36px;
					top: 62px;
					border-radius: 0px;

					li {
						width: 100%;
						height: 30px;

						a {
							font-family: 'Open Sans',sans-serif;
							color: #000000;
							font-size: 14px;
							display: block;
							width: 100%;
							height: 100%;
						}

						a:hover {

						}
					}

					.divider {
						width: 100%;
						height: 1px;
						margin: 2px;
					}
				}
    		}
    	}
    }
}

// https://www.google.com/fonts#ChoosePlace:select/Collection:Permanent+Marker|PT+Sans+Caption

// 768
//977
// 1000