// _home.scss

.home-container {
	font-family: Open Sans;

	.header {
		padding: 20px;
	}

	.lightbg {
		background: #ffffff;
		border-top: #CDCDCD solid 1px;
		border-bottom: #CDCDCD solid 1px;
	}

	.smallbg {
		height: 200px;
		overflow: scroll;
	}

	.recent-league-games {
		height: 100%;
		width: 100%;
		padding-top: 8px;
		padding-bottom: 8px;

		.game {
			float: left;
			height: 181px;
			width: 22%;
			background: green;
			margin-left: 10px;
		}
	}
}