// sidetray styling

.sidetray {
    float: left;
    width: $sidetray-width;
    height: 100%;
    background: $sidetray;
    border-right: #444444 solid 2px;

    .logo-wrapper{
    	display: inline-block;
		width: 100%;
		position: absolute;
		width: $sidetray-width;
    	font-family: Open Sans;
    	background: #424242;
		z-index: 1;

    	.logo{
    		height: 80px;
			width: 80px;
			float: left;

			img {
				width: 65px;
				padding: 7px;
			}

			@media screen and (max-width: 977px) {
		    	.logo {
		    		width: 60px;
		    	}

		    	img {
		    		width: 50px;
					padding: 6px;
					margin-top: 8px;
		    	}
		    }
    	}

    	.title {
    		font-size: 29px;
			font-family: PT Sans Caption;
			padding: 20px;
			float: left;

			@media screen and (max-width: 977px) {
	    		.title {
	    			display: none;
	    		}
		    }
    	}
    }


    .menu-wrapper {
    	height: 100%;
    	position: absolute;
		width: $sidetray-width;
		overflow-y: scroll;

		.menu {
			margin-top: 80px;
	    	.menu-section {

	    		.section-wrapper {
	    			padding-left: 10px;
	    			background: #3A3A3A;

	    			.section-icon {
	    				width: 46px;
						height: 46px;
						float: left;
						font-size: 25px;
						padding: 9px;
	    			}
	    		}

	    		h3 {
	    			padding: 11px;
					font-size: 17px;
					margin-left: 15px
	    		}
	    		.menu-option {
		    		width: 100%;
					height: 25px;
					margin: 1px;
					background: #343434;

					a {
						text-decoration: none;
						color: #ffffff;
						height: 100%;
						width: 100%;
						display: block;
						padding: 4px;

						h4 {
							margin-left: 55px;
						}
					}

					a:hover{
						background: #3A3A3A;
					}
		    	}
	    	}
	    }
    }


    @media screen and (max-width: 977px) {
    	width: 60px;
    	.logo-wrapper {
    		.title {
    			display: none;
    		}

	    	.logo {
	    		width: 60px;
	    	}
	    }
    }

    @media screen and (max-width: 768px) {
    	display: none;
    }
}