// sidetray styling

.sidetray {
    float: left;
    width: $sidetray-width;
    height: 100%;
    background: $sidetray;
    border-right: #444444 solid 2px;

    .logo-wrapper{
    	display: inline-block;
		width: 100%;
		position: absolute;
		width: $sidetray-width;
    	font-family: Open Sans;
    	background: #424242;
		z-index: 1;
		height: 80px;

    	.logo{
    		height: 80px;
			width: 80px;
			float: left;

			img {
				width: 80px;
				padding: 7px;
			}		
    	}

    	.title {
    		font-size: 29px;
			font-family: PT Sans Caption;
			float: left;

			img {
				width: 156px;
				padding: 11px;
			}			
    	}
    }


    .menu-wrapper {
    	height: 100%;
    	position: absolute;
		width: $sidetray-width;
		overflow-y: scroll;

		.search {
			margin-top: 80;
			height: 46px;
			input {
				width: 100%;
				height: 100%;
				background: #CA9842;
				color: #ffffff;
				font-size: 19px;
				padding: 17px;
				padding-right: 52px;

				// pesky bootstrap input glow
				outline: none;
				border: none !important;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				box-shadow: none !important;
				
			}

			::-webkit-input-placeholder { /* WebKit browsers */
			    color:    #ffffff;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    #ffffff;
			   opacity:  .7;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    #ffffff;
			   opacity:  .7;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
			   color:    #ffffff;
			}

			i {
				position: absolute;
				top: 80px;
				right: 0px;
				font-size: 26px;
				padding: 10px;
				padding-right: 5px;
				color: #ffffff;
				margin-right: 10px;
			}
			
		}

		.menu {
	    	.menu-section {
	    		width: 100%;
	    		.section-wrapper {
	    			padding-left: 10px;
	    			background: #343434;
	    			height: 46px;
	    			a {
	    				text-decoration: none;
	    				color: #A0A0A0;
	    			}

	    			.selected {
	    				color: white;
	    				.section-icon{
	    					color:orange;
	    				}
	    			}

	    			.section-icon {
	    				width: 46px;
						height: 46px;
						float: left;
						font-size: 25px;
						padding: 9px;
	    			}
	    		}

	    		h3 {
	    			padding: 11px;
					font-size: 17px;
					margin-left: 15px
	    		}
	    		.menu-option {
		    		width: 100%;
					height: 30px;
					margin: 1px;
					background: #343434;

					a {
						text-decoration: none;
						color: #ffffff;
						height: 100%;
						width: 100%;
						display: block;
						padding: 6px;

						h4 {
							margin-left: 55px;
						}
					}

					.selected {
						background: #202020;
						color: #CA9842;
					}

					a:hover{
						background: #202020;
					}


		    	}
		    	ul {
					max-height: 1;
					overflow: hidden;
		    		-moz-transition: max-height .6s ease;
				    -webkit-transition: max-height .6s ease;
				    -o-transition: max-height .6s ease;
				    transition: max-height .6s ease;
				}
	    	}

	    	// menu items open/close 
	    	.expanded ul{
			    max-height: 100px;
				transition: max-height .6s ease;
				overflow: hidden;		    	
		    }
	    }

	    // collapsed menu 
	    .collapsed {
	    	li ul {
	    		display:none;
	    	}

	    	.section-wrapper a .section-title {
	    		display: none;
	    	}
	    }
    }


    // @media screen and (max-width: 977px) {
    // 	.logo-wrapper {
    // 		.title {
    // 			display: none;
    // 		}

	   //  	.logo {
	   //  		width: 60px;
	   //  	}
	   //  }
    // }

    @media screen and (max-width: 768px) {
    	display: none;
    }
}